main {
    text-align: center;
    background-image: url(https://marketplace.canva.com/EAEDjhPe2wM/1/0/1600w/canva-%D1%80%D0%B0%D0%B4%D1%83%D0%B3%D0%B0-%D0%B3%D1%80%D0%B0%D0%B4%D0%B8%D0%B5%D0%BD%D1%82%D0%BD%D1%8B%D0%B9-%D1%80%D0%BE%D0%B7%D0%BE%D0%B2%D1%8B%D0%B9-%D0%BE%D1%80%D0%B0%D0%BD%D0%B6%D0%B5%D0%B2%D1%8B%D0%B9-%D0%B8-%D1%81%D0%B8%D0%BD%D0%B8%D0%B9-zoom-%D0%B2%D0%B8%D1%80%D1%82%D1%83%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9-%D1%84%D0%BE%D0%BD-9z3hOYl4auA.jpg);
  }
h1 {
color: hsl(234, 92%, 60%);
}
#description {
font-style: italic;
color: hsl(234, 92%, 9%);
}

form {
background-color: hsl(234, 92%, 9%);
margin: 2em 30% 0 30%;
padding: 2% 2% 2% 2%;
text-align: left;
border-radius: 10px;

}
.input {

width: 100%;
height: 30px;
font-size: 1em;
color: #242424;
border-radius: 4px;
border: #fff;
box-sizing: border-box;

}
.input-description {

color: #FFFFFF;
font-weight: bold;
font: 18px sans-serif;
line-height: 2;
width: 100%;
box-sizing: border-box;
}
.input-div {
margin: 5% 0;
box-sizing: border-box;

}

#submit {
width: 100%;
height: 50px;
background-color: hsl(139, 80%, 40%);
border-radius: 2px;
border: hsl(139, 80%, 40%);
color: hsl(178, 37%, 95%);
font: 16px sans-serif;
box-sizing: border-box;
}
#comments {
font-size: 16px;
color: #242424;
width: 100%;
box-sizing: border-box;
}